@page "/editpage"
@* @rendermode InteractiveAuto *@
@inject EventDbContext DbContext
@inject IJSRuntime JSRuntime
@inject NavigationManager _navigationManager
@using EventCalendar.Data
@using Microsoft.EntityFrameworkCore

<h3>EditEvent</h3>
<NavLink href="eventlist">
    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Back
</NavLink>

@code {

}
